/* Style global */
body {
    background-color: #080710;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
   
}

.body-connexion {
    background-color: #080710;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

@media (max-width: 768px) {
    form{
        max-width: 70vw;
    }
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
/* Rond en fond decran */
.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -30px;
    bottom: -80px;
}

/* Style du formulaire */
#connexion form, .form-connexion {
    width: 400px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    text-align: center;
}

#connexion h3, .form-connexion h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    color: #ffffff;
    margin-bottom: 20px;
}

#connexion label, .form-connexion label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
}

#connexion input[type="text"],
#connexion input[type="password"], 
.form-connexion input[type="text"],
.form-connexion input[type="password"] {
    display: block;
    height: 50px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.letext{
    color: #000;
}

input::placeholder {
    color: #e5e5e5;
}

#connexion button, .form-connexion button {
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

#connexion button:hover, .form-connexion button:hover {
    background-color: #f0f0f0;
}

/* Style des options sociales */
.social {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
    cursor: pointer;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social i {
    margin-right: 8px;
}

/* Style pour la checkbox */
.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    color: #ffffff;
}

.checkbox-group label {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 400;
}
